body {
  margin: 0 20%;
  font-size: 1.25rem;
  background-color: antiquewhite;
}

.pare {
  color: blue;
  outline-style: dotted;
}

.span1 {}

.span2 {
  border: inherit;
  outline-style: inherit;
}
.miniHeader{
  
}
article section {
  overflow: hidden;
  max-height: 0;
  transition: all 5s;
  border: 5px solid black;
}

/* article:hover section{
    max-height: 100vh;
    overflow: scroll;
    
  } */
  input:checked~section{
    max-height: 100vh;
    overflow: scroll;
  }
    
  input{
    display:none;
  }

  label{
    background-color: red;
  }

  .pareParagraf{
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  .span2Paragraf{
    border:inherit;
  }
